ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}
header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: row;

}

div.flex-container > div {
    margin: 10px;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}


/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
}